<footer class="footer">
    <em>
        <p>Powered by NodeJS. Built with 💚 by
            <a href="https://preciousgabraels.novavamp.com" target="_blank">Precious Gabraels</a>
        </p>
    </em>
</footer>
</body>

</html>